<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/index/css/myresponsee.css">
	<link rel="stylesheet" href="/index/css/style.css">
	<!--Favicon-->
	<link rel="shortcut icon" href="/index/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/index/img/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/index/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head> 
  
<body class="size-1140">


<!-- HIDDEN PRODUCTS MENU END -->

<!-- |||||||||||||||||| page start ||||||||||||||||||| -->
<!-- ||||| --> <div id="page-main-content"> <!-- ||||| -->
<!-- ||||||||||||||||||||||||||||||||||||||||||||||||| -->

<!-- HEADER START -->
<header> 
	
	
	<!-- navigation and logo -->
	<nav class="background-dark">
		<div class="line">
		    <!-- logo -->
			<div class="s-12 l-3">
				<div class="fullwidth">
				   
				</div>
			</div>
			
			<!-- navigation -->
			<div class="top-nav s-12 m-12 l-9">
				<a class="nav-text"></a>
				<ul class="right chevron">
					<li><a href="{:url('index/Index/index')}">首页</a></li>>
					<li><a href="{:url('index/Shop/shop')}">商品列表</a></li>
					<li><a href="{:url('index/Cart/docart')}">购物车</a></li>
					<li><a href="{:url('index/Reg/reg')}">会员注册</a></li>
					<li><a href="{:url('index/Login/login')}">会员登录</a></li>
					<li><a href="{:url('index/Login/loginout')}">退出登录</a></li>
				</ul>
			</div>
			
		</div>
	</nav>
</header>
<!-- HEADER END -->

<!-- PAGE CONTENT START -->
<div class="section">
	<!-- heading and description -->
	<div class="line">
	  <div class="margin">
		<div class="fullwidth">
		  <h1 class="text-center">商品列表</h1>
		  <hr class="break-small break-center">
		</div>
	  </div>
	</div>
	
    <!-- products -->
	<div class="line">
		<div class="margin">
		    <!-- product 1 -->
		    {volist id="st" name="product"}
			<div class="s-12 m-4 l-3 margin-bottom-30">
				<div class="margin">
					<div class="fullwidth">
						<figure class="imghvr-reveal-down">
							<img src="/uploads/20190518/{$st.image}">
							<figcaption>
								<div class="product-hover-content">
									<div class="btn-box">
										<a href="{:url('index/Product/product',['id'=>$st.id])}" class="btn">Buy Now</a>
									</div>
								</div>
							</figcaption>
						</figure>
					</div>
					<div class="fullwidth">
						<h5>{$st.name}</h5>
						<p class="text-center"><span class="strike">{$st.price}</span> &nbsp;&nbsp; <span class="text-primary">$130.00</span></p>
					</div>
				</div>
			</div>
		    <!-- product 2 -->
						{/volist}
		    <!-- product 5 -->
		   
		 
		</div>
	</div>
</div>
<!-- PAGE CONTENT END -->

<!-- FOOTER START -->
<footer>
	

	<!-- footer bottom bar -->
	<div class="copyright">
	    <div class="line">
			<div class="margin">
				<!-- left -->
				<div class="s-12 m-12 l-8 footer-links">
					<ul class="footer-bar-links">
						<li><a href="">联系我们</a></li>
						<li><a href="">常见问题</a></li>
						<li><a href="">解答发货</a></li>
						<li><a href="">退货政策</a></li>
						<li><a href="">订单跟踪</a></li>
					</ul>
					<p>版权®2019.版权所有</p>
				</div>
				<!-- right -->
				<div class="s-12 m-12 l-4 payment-methods">
					<i class="fa fa-cc-visa fa-2x"></i>
					<i class="fa fa-cc-mastercard fa-2x"></i> 
					<i class="fa fa-cc-paypal fa-2x"></i>
					<i class="fa fa-credit-card fa-2x"></i>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- FOOTER END -->

<!-- |||||||||||| page end ||||||||||||| -->
<!-- ||||||||| --> </div> <!-- ||||||||| -->
<!-- |||||||||||| page end ||||||||||||| -->

<!-- jQuery Files -->
<script type="text/javascript" src="/index/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/index/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/index/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/index/js/custom.js"></script>

</body>
</html>
